{% extends 'main/base.html' %}
{% load static %}
{% block title %}<title>Как получить обрез в Alan Wake 2 - новинке 2023 года</title>{% endblock %}
{% block disc %}<meta name="description" content="Гайд по получению обреза в алан вейк 2">{% endblock %}
{% block content %}
{% block style %}
{% static 'style3.css' %}
{% endblock %}

<main>
    <img src="{% static 'img/guide2.jpeg' %}" alt="Алан игра обложка">
    <h1>Как получить обрез в Alan Wake 2 - новинке 2023 года</h1>
    <p>
        Если Алан Уэйк получает дробовик по сюжету, то, играя за Сагу Андерсон, легко пропустить ее первое мощное оружие – обрез. Он находится в магазинчике около озера Колдрон, где на героиню нападает здоровый культист (это вторая глава).

После этого Сага сможет попасть в закрытую до этого область – заднюю часть магазина. На стене справа висит витрина с заветным обрезом, но она на замке. Чтобы его открыть, нужен код.
    </p>
    <p>
        Подойдите к кассе в дальней части магазина – увидите блокнот. Теперь нужно разгадать шифр: объедините первое число в комбинациях с пятым числом, указанным на соседнем лотерейном билете.

Нужный код – 739. Введите цифры в замке витрины и забирайте обрез. Это мощное оружие, стреляющее двумя патронами, – пригодится в бою с сильными Одержимыми.
    </p>
    </main>

{% endblock %}