{% extends 'main/base.html' %}
{% load static %}
{% block title %}<title>Легенда Найт-сити – гайд по прохождению задания Cyberpunk 2077</title>{% endblock %}
{% block disc %}<meta name="description" content="Гайд по прохождению задания в киберпанк">{% endblock %}
{% block content %}
{% block style %}
{% static 'style3.css' %}
{% endblock %}

<main>
    <img src="{% static 'img/guide1.jpeg' %}" alt="Cyberpunk 2077 игра обложка">
    <h1>Легенда Найт-сити – гайд по прохождению задания Cyberpunk 2077</h1>
    <p>Легенда Найт-Сити (англ. Don’t Fear The Reaper) — основное задание в игре Cyberpunk 2077. 

        Для открытия секретной концовки необязательно иметь уровень дружбы 70%. Чтобы открыть секретную концовку, Ви должен выполнить побочные задания Джонни Сильверхэнда до встречи с Ханако Арасака:</p>
    <p>Метаморфозы<br>
        По следам прошлого<br>
        Старая драма <br>
        Важным условием является выбор правильного ответа входе выполнения побочного задания По следам прошлого. Следуя приведенным ниже вариантам диалога, вы сможете открыть секретную концовку, не доводя до максимума дружбу с Джонни Сильверхэндом.</p>
    </main>

{% endblock %}