{% extends 'main/base.html' %}
{% load static %}
{% block title %}<title>Игры с лучшей графикой в 2023 году по версии DFoundry</title>{% endblock %}
{% block disc %}<meta name="description" content="новость о топе игр с лучшей графикой">{% endblock %}
{% block content %}
{% block style %}
{% static 'style3.css' %}
{% endblock %}

<main>
    <img src="{% static 'img/post2.jpg' %}">
    <h1>Игры с лучшей графикой в 2023 году по версии DFoundry</h1>
    <p>
        3 Место. Эксперты DF признают, что  Cyberpunk 2077 отлично выглядела ещё до выхода патча с улучшенным рейтрейсингом. Однако режим «Трассировка лучей: перегрузка» поднял визуальную составляющую проекта на совершенно иной уровень. «После добавления трассировки пути получилась наиболее качественная передача освещения, которая только может быть в игре», — заявил Алекс Батталия (Alex Battaglia).
    </p>
    <p>
        2 Место. В Digital Foundry долго сомневались, но всё же поставили  Alan Wake II на второе место. По мнению специалистов, творение Remedy является примером отличной игры с качественным рендерингом в реальном времени. И многообразием оружия, например, в игре есть <a href="{% url 'guid2' %}">обрез</a>. 
    </p>
    <p>
        1 Место. Главный приз с небольшим перевесом всё же отдали Frontiers of Pandora. «Первое, что я подумал об игре: „Это наследница первой  Crysis, о которой я мечтал“», — с таких слов Линнеман начал рассказ об Avatar
    </p>
    </main>

{% endblock %}