{% extends 'main/base.html' %}
{% load static %}
{% block title %}<title>Да не тряситесь — Sony передумала удалять контент из библиотек пользователей</title>{% endblock %}
{% block disc %}<meta name="description" content="новость о выходках sony">{% endblock %}

{% block content %}
{% block style %}
{% static 'style3.css' %}
{% endblock %}

<main>
    <img src="{% static 'img/post3.jpg' %}">
    <h1>Да не тряситесь — Sony передумала удалять контент</h1>
    <p>
        В начале декабря в Сети поднялась волна негодования в сторону Sony, которая решила удалить у пользователей PlayStation все сериалы и шоу канала Discovery, даже те, что уже были куплены. Теперь же корпорация отыграла всё назад. 
    </p>
    <p>
        Проекты Discovery должны были исчезнуть с 31 декабря из-за истёкших лицензионных соглашений. Речь идёт о 1300 шоу и сериалах, таких как «Разрушители мифов», «Смертельный улов», «Голые и напуганные» и так далее.    </p>
    <p>
        Sony заключила новое соглашение с Warner Bros., которая владеет брендом Discovery. Теперь пользователи, которые ранее купили доступ к шоу, не потеряют его как минимум в течение следующих 30 месяцев или 2,5 лет.     </p>
    </main>

{% endblock %}