{% extends 'main/base.html' %}
{% load static %}
{% block title %}<title>Почти 20 минут геймплея Prince of Persia: The Lost Crown</title>{% endblock %}
{% block disc %}<meta name="description" content="Новость о игре принц персии">{% endblock %}
{% block content %}
{% block style %}
{% static 'style3.css' %}
{% endblock %}

<main>
    <img src="{% static 'img/post1.jpg' %}">
    <h1>Почти 20 минут геймплея Prince of Persia: The Lost Crown</h1>
    <p>До релиза новой игры в серии Prince of Persia осталось меньше месяца. К сожалению, это не ремейк первой части, но бодрый экшен-платформер с подзаголовком  The Lost Crown. Издание Game Informer поделилось 20 минутами геймплея и впечатлениями от игры.
    В ролике можно увидеть вступление, где игрока знакомят с местной предысторией и новым главным героем — воином Саргоном, который в составе отряда «Бессмертные», занимается спасением принца. <br><br>
    
    На видео показан бой с первым боссом, а также фрагменты из более поздних этапов игры, когда Саргон получает первую магическую способность, а ещё исследует зловонную канализацию местного дворца.
    Автор Game Informer похвалил The Lost Crown за отличное исполнение всех аспектов жанра метроидвания. По его мнение, проект даже можно поставить в один ряд с  Metroid Dread.

    Выйдет Prince of Persia: The Lost Crown уже 18 января 2024 года на ПК (Ubisoft Store, EGS), PlayStation, Xbox и Nintendo Switch. Текст в игре переведут на русский язык.</p>
    </main>

{% endblock %}
